<li class="cart__item" id={{id}}>
	<div class="cart__img-wrapper">
		<img src={{img}} alt={{name}} class="cart__img" width="50" height="80" />
	</div>
	<div class="cart__book-info">
		<div>
			<p class="cart__book-info-author">{{author}}</p>
			<p class="cart__book-info-name">{{title}}</p>
		</div>
		<div class="cart__book-wrapper">
			<div class="cart__book-amount">
				<button class="cart__book-amount-btn" data-action="incr">
					+
				</button>
				<span class="cart__book-amount-text">{{quantity}}</span>
				<button class="cart__book-amount-btn" data-action="decr">
					-
				</button>
			</div>
			<p class="cart__book-price"><span>{{price}}</span> $</p>
		</div>
	</div>
</li>